
.column-height {
            height: 10000px;
}
/* Adjustments for the logo image*/

img {
  display: block;
  margin-top: 1.5em;
  height: 400px;
  width: 500x;
}
.div{
  align-content: center;
}





